.posts {
  margin: 0;
  padding: 20px;
}

.post {
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.post:not(:first-child) {
  margin: 10px 0 0 0;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
}
